@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
:root {
    --color-principal: #00669F;
    --color-secundario: #1CD1B0;
    --color-terciario: #001D2D;
    --color-bg-card: #F3F3F3;
    --color-boton-reset:#888888;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/***********main**********/
.conteiner-login{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 36% 0%;
    font-family:"inter",sans-serif ;
    font-weight: 400;
}
h2{
    font-family: "inter",sans-serif;
    font-size: 40px;
    font-weight: 700;
}
fieldset{
    border: none;
}
.login{
    display: flex;
    flex-direction: column;
}
input{
    margin: 2% 0%;
    height: 30px;
}
.boton-entrar{
    color: black;
    background-color: var(--color-secundario);
    margin-top: 6%;
    border-radius: 23px;
    border:none;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.p-registrar{
    text-align: center;
}
.text-registro{
    text-decoration: none;
    color: var(--color-principal);
}
input[type="submit"]:hover{
    background-color: var(--color-terciario);
    color: white;
}
.text-registro:hover{
    text-decoration: underline;
}
@media screen and (min-width:600px) {
    .conteiner-login{
        padding: 15.45% 0%;
    }
}
@media screen and (min-width:811px) {
    .conteiner-login{
        padding: 13.5% 0%;
    }
}