@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
:root {
    --color-principal: #00669F;
    --color-secundario: #1CD1B0;
    --color-terciario: #001D2D;
    --color-bg-card: #F3F3F3;
    --color-boton-reset:#888888;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/***********header************/
nav>ul {
    background-color: var(--color-terciario);
    display: flex;
    padding: 1% 1%;
    justify-content: flex-end
}

nav>ul>li {
    margin: 0% 1% 0%;
    list-style: none;
    ;
}

.liNav {
    color: white;
    text-decoration: none;
    position: relative;
}

nav ul li a:before {
    content: '';
    background: var(--color-principal);
    position: absolute;
    bottom: -10px;
    height: 0px;
    width: 100%;
    transition: all 0.3s;
}
nav ul li a:hover::before {
    height: 20%;
}
/**********main*******/
main{
    padding:6% 0;
    width: auto;
    font-family: 'Karla', sans-serif;
}
h2, .parrafo-form{
    font-family: 'Inter', sans-serif;
}
.parrafo-form{
    text-align: center;

}
form{
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal);
    align-items: center;
    width: 95vw;
    margin:  0 auto;
    border-radius: 25px;
    color: white;
}
.conteiner{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-agregar{
    margin: 5% 0% 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.conteiner-izquierdo, .conteiner-derecho{
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px;
}
select{
    border-radius: 25px;
}
label,input{
    margin: 2% 0;
    border-radius: 25px;
}
textarea{
    resize: none;
    width: 100%;
    border-radius: 10px;
    padding: 1px ;
}
input:focus, textarea:focus,select:focus {
    outline-style:solid;
    outline-width: 2px;
    outline-color: var(--color-secundario);
}
.elegir-archivo-input{
    border-radius: 5px;
    color: black;
}
input[type="submit"]{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--color-secundario);
    color: black;
    margin-bottom: 5%;
    font-size: 2rem ;
    font-family: "inter"sans-serif;
    font-weight: 700;
    outline: none;
}
input[type="submit"]:hover{
    background-color: #001D2D;
    color: white;
    cursor: pointer;
}
input[type="checkbox"], input[type="radio"]{
    display: none;
}
input[type="checkbox"]+label ,input[type="radio"]+label{
    position: relative;
    padding-left: 21px;
}

input[type="checkbox"]+label::before,input[type="radio"]+label::before {
    content: "";
    width: 12px;
    height: 10px;
    border:2px solid #C4C4C4;
    display: inline-block;
    background-color: white;
    position: absolute;
    left: 0;
    top: 2px;
}
input[type="checkbox"]+label::before{
    border-radius: 5px;
}
input[type="radio"]+label::before{
    border-radius: 50%;
}
input[type="checkbox"]:checked + label::before{
    content: "\f00c";
    background-color: #34CEFF;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
}
input[type="radio"]:checked + label::before{
    background-color: #34CEFF;
}
input[type="file"]{
    outline: none;
}

@media screen and (min-width:600px) {
    h2{
        font-size: 2rem;
    }
    form{
        width: 60vw;
    }
    .conteiner-agregar{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .conteiner-derecho,.conteiner-izquierdo{
        width: 45%;
        height: 400px;
        justify-content: space-around;
    }
    input,select{
        height: 55px;
    }
    input[type="submit"]{
        width: 343px;
        height: 87px;
    }
    label,input,select{
        border-radius: 10px;
        margin:0 ;
        padding: 0;
    }
    select{
        margin-top: 0px;
    }
    @-moz-document url-prefix() {
        .conteiner-derecho{
            margin: 9px 0 0;
        }
    }
}