@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

:root{
    --color-principal:#00669F;
    --color-secundario:#1CD1B0;
    --color-terciario:#001D2D;
    --color-bg-card:#F3F3F3;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/********************body**************/
body{
    font-family:'Roboto',sans-serif ;
}
.sticky{
    background-color: var(--color-secundario);
    color: black;
    padding: 0.3% 1%;
    font-weight: normal;
    font-style: normal;
    position: sticky;
    top: 0%;
    z-index: 999;
}
/**********header*********/
.tienda{
    background-color: var(--color-principal);
    color:white;
    display: flex;
    align-items: center;
}
h1{
    font-weight: normal;
    font-family: 'Roboto';
    font-style: normal;
}
/**********main***********/
/********footer**********/
footer>p{
    background-color: var(--color-principal);
    text-align: center;
    color:white;
}