@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
:root {
    --color-principal: #00669F;
    --color-secundario: #1CD1B0;
    --color-terciario: #001D2D;
    --color-bg-card: #F3F3F3;
    --color-boton-reset:#888888;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/*********main**********/
.conteiner-registro{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 24% 0%;
}
h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 6%;
}
fieldset{
    border: none;
}
.registro{
    display: flex;
    flex-direction:column ;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}
input{
    margin-bottom: 3%;
    width: 100%;
    height: 30px;
}
select{
    height: 30px;
}
.botones{
    margin-top: 4%;
}
.link-login{
    text-align: center;
    padding-top: 2%;
}
.text-ingresar{
    color: var(--color-principal);
    text-decoration: none;
}
.botones-form{
    border-radius: 20px;
    width: 49%;
    border: none;
    height: 25px;
    font-weight: 700;
}
.boton-reset{
    background-color: var(--color-boton-reset);
    color: white;
}
.boton-registro{
    color: black;
    background-color: var(--color-secundario);
}
@media screen and (min-width:600px) {
    .conteiner-registro{
        padding: 12.25% 0%;
    }
}
@media screen and (min-width:811px) {
    .conteiner-registro{
        width: 400px;
        height: 610px;
    }
}