/******footer*****/
footer{
    color: $cuarto-color;
    .parent{
        background-color: $segundo-bg;
        display: grid;
        justify-items: center;
        grid-template-columns: 40% 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 9px; 
        padding: 3% 0;
        div{
            &:nth-child(even){
                background-color: $tercer-bg;

                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 2px 6px rgba(138,135,135,0.75);
            }
            &:nth-child(odd){
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 60px;
                width: 200px;
            }
        }
        .div1 { 
            grid-area: 1 / 1 / 2 / 3;
            text-align: center;
            h4{
                :nth-child(3) {
                    color: $primer-color;
                }
            }
        }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 2 / 2 / 3 / 3; }
        .div4 { grid-area: 3 / 1 / 4 / 2; }
        .div5 { grid-area: 3 / 2 / 4 / 3; }
        .div6 { grid-area: 4 / 1 / 5 / 2; }
        .div7 { grid-area: 4 / 2 / 5 / 3; } 
        @media screen and (min-width:700px){
            grid-template-columns: 10% 20% repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 14px;
            .div1 { grid-area: 2 / 5 / 3 / 6; }
            .div2 { grid-area: 1 / 1 / 2 / 2; }
            .div3 { grid-area: 1 / 2 / 2 / 3; }
            .div4 { grid-area: 2 / 1 / 3 / 2; }
            .div5 { grid-area: 2 / 2 / 3 / 3; }
            .div6 { grid-area: 3 / 1 / 4 / 2; }
            .div7 { grid-area: 3 / 2 / 4 / 3; } 
        }
    }
    .footer-low{
        background-color: $bg-headerTop-footerlow;
        text-align: center;
    }
}