$primer-color:#F0A83E;
$primer-bg:#f0a83d;
$segundo-color:#3C2313;
$segundo-bg:#3C2313;
$tercer-color:#8A8787;
$tercer-bg:#8A8787;
$cuarto-color:#FFFFFF;
$quinto-color:#222222;
$bg-headerTop-footerlow:#222222;