@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

:root {
    --color-principal: #D1891C;
    --color-secundario: #00669F;
    --color-terciario: #ffffff;
    --color-bg-cards: #F3F3F3;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************************body*************************/
body {
    font-family: 'Roboto', sans-serif;
}

.sticky {
    background-color: var(--color-principal);
    position: sticky;
    top: 0%;
    z-index: 999;
    padding-left: 3%;
}

/*****header****/
h1 {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    font-weight: 300;
    padding-left: 3%;
}

/****main****/
.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    background-color: var(--color-bg-cards);
    border-radius: 5px;
    position: relative;
    margin: 5%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.corazon{
    width: 30px;
    margin: 15px;
}

.h2-cards {
    margin-top: 20%;
    text-align: center;
}

.super-p {
    margin-top: 5%;
    padding: 0% 5% 0%;
}

.boton {
    padding: 8%;
    margin: 1%;
    display: flex;
    color: var(--color-terciario);
    text-decoration: none;
}

.ver-mas {
    background-color: var(--color-secundario);
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.caras {
    border-radius: 50%;
    width: 100px;
    position: absolute;
    top: 150px;
}

.bg-batman {
    background-image: url("../img/baticueva.svg");
}

.bg-mujer-maravilla {
    background-image: url("../img/bg-mujer-maravilla.svg");
}

.bg-super-man {
    background-image: url("../img/bg-super-man.svg");
}

.bg-harley-quinn {
    background-image: url("../img/bg-harley-quinn.svg");
}

.boton-flotante{
    position: fixed;
    border-radius: 50%;
    background-color: var(--color-secundario);
    bottom: 50%;
    right: 10px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    color: var(--color-terciario);
    font-weight: 300;
}

/*******footer******/

footer {
    background-color: var(--color-secundario);
    padding: 1%;
}

.derechos {
    text-align: center;
    width: 100%;
    color: var(--color-terciario);
}

.pie {
    position: relative;
}

.git {
    text-align: center;
    color: var(--color-terciario);
    text-decoration: none;
}
@media screen and (min-width:600px){
    .conteiner{
        flex-direction: row;
        max-width: 1024px;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .cards{
        max-width: 40%;
    }
    .pie{
        position: relative;
    }
    .git{
        position: absolute;
        right: 20px;
        bottom: -8px;
        font-size: 2rem;
        font-weight: 700;
    }
}
@media screen and (min-width:770px) {
    .conteiner{
        flex-wrap: nowrap;
        align-content: center;
        margin: 0 auto;
    }
    .cards{
        max-width: 25%;
        margin: 1%;
        justify-content: space-between;
        align-items:center ;
    }
    .bg-card{
        display: flex;
        flex-direction: column;
    }
    .h2-cards{
        margin-top: 20%;
    }
    .super-p{
        height: 100%;
    }
}   