@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');
:root{
    --color-principal:  #222222;
    --color-secundario: #FC200C;
    --color-terciario: #39B24A;
    --color-bg-main:#E5E5E5;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    max-width: 1024px;
    font-family: "roboto",sans-serif;
}
span{
    font-family: "roboto",sans-serif;
}
/*******header******/
header{
    background-color: var(--color-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
header>div,.logo-footer{
    display: flex;
    align-items: center;

}
header ul{
    display: flex;
    list-style: none;
}
a{
    margin-left: 10px;
    text-decoration: none;
}
h1,a{
    color:white;
}
.pizza{
    color: var(--color-terciario);
}
.front{
    color: var(--color-secundario);
}
.pizza-header{
    margin-right: 2%;
}
/******main******/
.conteiner{
    display: flex;
    max-width: 1024px;
    margin: 0   auto;
    padding: 3%;
    justify-content: space-around;

}
.card-left{
    background-image: url("../img/delivery.svg");
    width: 49%;
    height: 350px;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.card-right{
    width: 49%;
    height: 350px;
    background-color: var(--color-bg-main);
    justify-content:center ;
    border-radius: 5px;
}
.podio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}
main h2{
    text-align: center;
    color: var(--color-secundario);
    padding-top: 5%;
}
.comprando{
    color: white;
}
ol>li{
    font-weight: 700;
    margin-top: 6%;

}
/******footer******/
footer{
    background-color: var(--color-principal);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1% 3% 1% 2%;
}
.pizza-footer{
    margin-right: 4%;

}
footer li{
    margin: 10% 1% 1% -2%;
    list-style: none;
}
