
header{
    text-align: center;
    h1{
        font-weight: 700;
        font-style: normal;
        background-color: $color-bg-h1;
        color: $color-h1;
        font-size: 35px;
        line-height: 29, 64px;
        letter-spacing: 6px;
        text-transform: uppercase;
        word-spacing: 10px;
    }
}