@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
:root{
    --color-primer:#222222;
    --color-segundo:#D01418;
    --color-tercero:#C4C4C4;
    --color-cuarto:#619D00;
    --color-bg-main:#f3f3f3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*************body***********/

/*****header****/
header{
    display: flex;
    background-color: var(--color-primer);
    color:white;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}
header>div{
    display: flex;
    padding-left: 20px;
}
header>p{
    padding-right: 20px;
}
h1{
    margin-left: 8px;
}
.game{
    color: #f3f3f3;
    font-weight: 700;
}
.shop{
    color: var(--color-segundo);
    font-weight: 400;
}

nav ul{
    flex-direction: column;
    position: fixed;
    top: 88px;
    right: 0px;
    background-color: var(--color-principal);
    width: 0px;
}
nav ul li{
    padding: 5px 12px 5px;
    list-style: none;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
.icono-menu{
    display: block;
    color :white;
    padding-right: 8%;
}
input[type="checkbox"]{
    display:none ;
}
.bar{
    display: block;
    padding-right: 25px;
}
input[type="checkbox"]:checked ~ .nav-menu{
    width: 120px;
}
.nav-menu{
    background-color: var(--color-primer);
}
.fa-shopping-cart{
    color: var(--color-segundo);
}
/*********main********/
/**hero**/
.hero{
    height: 500px;
    background-color: violet;
    background-image: url("../img/hero-bg-gameshop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
h2 span{
    color: var(--color-segundo);
}
.hero h2{
    color: #f3f3f3;
    text-align: center;
    font-size: 40px;
    padding: 0 5%;
}
main section a{
    height: 61px;
    width: 221px;
    background-color: var(--color-segundo);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}
main section  a p{
    color: #f3f3f3;
    font-family: 25px;
    font-weight: 500;
    font-size: 25px;
}
/**cards**/
.conteiner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.productos-destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cards{
    width:70% ;
    height: 322px;
    background-color: var(--color-bg-main);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0;
    box-shadow: 6px 4px 14px -6px rgba(0,0,0,0.73);
    border-radius: 5px;
}
hr{
    border: none;
    height: 5px;
}
.precio,.cuotas,.envio{
    font-weight: 400;
}
.precio{
    font-size: 20px;
}
.cuotas{
    font-size: 13px;
}
.envio{
    font-size: 10px;
    color: var(--color-cuarto);
}
/**productos estrellas**/
.productos-estrellas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
    
}
.estrellas{
    height: 108px;
    width: 100%;
    border-radius: 5px;
    margin: 3% 0 6% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.sillas{
    background-image: url(../img/sillas.svg);
}
.computadoras{
    background-image: url(../img/compus.svg);
}

/********footer*******/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primer);
}
.footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    align-items: flex-end;
    padding: 7% 0%;
}
.redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes{
    color: white;
    font-size: 25px;
    padding: 7% 0%;
}

.iconos-sociales{
    display: flex;
    padding: 7% 0%;
}
.fa-twitter{
    height: 26px;
    width: 32px;
    color: #14AED0;
}
.fa-facebook-f{
    height: 16px;
    width: 32px;
    color: #1476D0;
}
.fa-instagram{
    height: 28px;
    width: 28px;
    color: #CE0CFF;
}
.footer-bottom{
    background-color: var(--color-tercero);
    width: 100%;
}
.footer-bottom p{
    text-align: center;
}
.p-silla,.p-compu {
    font-size: 15px;
    margin-left: 120px;
}
@media screen and (min-width:600px){
    nav ul{
        position: absolute;
        width: 300px;
        top: 40px;
    }
    .nav-menu{
        display: flex;
        flex-direction: row;
    }
    .bar{
        display: none;
    }
    nav ul li{
        padding: 0px 5px 0px;
        list-style: none;
    }
    /****main****/
    .productos-destacados{
        flex-direction: column;
    }
    .conteiner{
        display: flex;
        width: 80%;
        flex-direction: row;
    }
    .conteiner-estrellas{
        display: flex;
        width: 80%;
        justify-content: space-around
    }
    .estrellas{
        width: 40%;
    }
    /***footer***/
    .footer-top{
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }

}