@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body*/
body{
    background-color: #E5E5E5;
    max-width: 1980px;
    max-height: 1080px;
    font-family: "roboto",sans-serif;
}
/*****header*****/
header{
    background-color: #222222;
}
.cabeza{
    display: flex;
    justify-content: space-between;
    max-width: 1980px;
}
.logo-y-nombre{
    max-width: 1980px;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo{
    height: 80px;
    width: 92px;
}
.pizza{
    color: #39B24A;
}  
.front{
    color: red;
} 
h1{
    color: white;
}
ul{
height:100px ;  
color: white;
display: flex;
list-style-type: none;
align-content: center;
flex-wrap: wrap;
}
.li-header{
    padding-right: 15px;
}
/******main******/
main{
    height: 420px;
    max-width: 100%;
    padding-top: 10px;
}
.conteiner-main{
    height: 350px; ;
    width: 990px;
    display: flex;
    margin: 0 auto;
    justify-content:space-around;
    padding-top: 15px;
}
.left-main{
    height: 350px;
    width: 490px;
    background-image: url("../img/delivery.svg");
    border-radius: 5px;
}
h2{
    color: red;
}
.comprando{
    color: white;
}
.right-main{
    height: 350px;
    width: 491px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}
.podio-pizza{
    width: 385px;
    height: 250px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.plato-pizza{
    display: flex;
    justify-content: center;
    padding-left: 45px;

}
.lista-ordenada{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 25px;
    font-weight: 700;
}
.h3-pizza{
    padding-right: 47px;
    padding-bottom: 18px;
}

/*********footer*********/
footer{
    background-color: #222222;
    height: 137px;

}
.pie{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-nombre-footer{
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.h3-footer{
    color: white;
}
.ul-footer{
    flex-direction: column;
    flex-wrap: nowrap;
}
.li-footer{
    padding-top: 10px;
    padding-left: 20px;
}